
header{
    background:#673AB7;
}
#accordionSidebar{
    background-color: black;
}
#headersite{
    background-color: #2ECC71;
}
#page-top{
    background-color: #2ECC71;
}
#bodyviews {
    background-color: #F5F5F5;
};